.sendForm {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    margin: 73px 70px 32px;

    gap: 44px;

    position: relative;

}

.sendForm:after {
    content: "";

    display: inline-block;
    width: 100.6vw;
    height: 1px;

    top: 76px;
    position: absolute;

    z-index: 0;

    background-color: #D9D9D9;
}

.textarea {
    background-color: #F5F7FB;

    border-radius: 20px;
    width: 100%;

    padding: 12px 24px 11px;

    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);

    resize: none;

    overflow: hidden;

    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);

    border: none;
}

.button {
    background-color: #06c;

    border-radius: 20px;

    padding: 10px 38px 10px;

    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #fff;

    border: none;
}

.button:hover {

}
.button:active {

}
